.BioText{
    background-color: white;
    color: black;
}

.leftPicture{
    position: absolute;
    margin-top: 15vh;
    left: 14vw;
    width: 33%;
    
    border-top-left-radius: 12.5vh;
    border-bottom-right-radius: 12.5vh;
    border-style: double;
    border-color: white;
    border-width: 1.5vh;
}

.AboutText{
    color:rgb(232, 224, 224);
    position: absolute;
    margin-top: 14vh;
    /* right:12vw; */
    width: 33%;
    margin-left: 50%;
    font-size: 2.25vw;
    line-height:auto;
    /* justify-content: center; */
    flex-direction: row;
    
    /* text-align-last: justify; */
}

.AboutBtnPosition{
    position: absolute;
    top:0vh;
    /* margin-top: 45vw; */
    margin-top: 40%;
    margin-left: 50%;
    /* left: 14vw; */
    width: 15%;
    height: 5vw;
  }

  .AboutBtn{
    /* padding: .70%;*/
    padding-bottom:.1%; 

    font-size: 2vh;  
    color: white;
    cursor: pointer;
    background-clip: text;
    background-color: transparent;

    border-width:.9vh;
    border-style: double;
    border-color:white;
    border-top-right-radius:4vh;
    border-bottom-left-radius:4vh;
  }


.textBox{
    padding-top: 0%;
    /* position: absolute;  */
    /* top:10%;
    right:10%; */
    /* font-size: 3vh;   */
/* 
    width: 25vh;
    height: 75vh; */
   
    /* border-width: 2vh;
    border-radius: 25px;
    border-color:  rgb(13, 97, 80) ;
    border-style: solid;
    background-image: linear-gradient(180deg, rgb(13, 97, 80) 5%, rgb(232, 224, 224) 50%); */
}

