.BioText{
    background-color: white;
    color: black;
}

.elementFade{
    opacity: 100%;
    animation: myfade 2s ;
    animation-fill-mode:forwards;
}
@keyframes myfade {
        from {opacity: 100%;}
        to {opacity:0%}   
        /* from {opacity:0%}
        to {opacity:100%} */
        /* from {background:rgb(232, 224, 224); opacity:0%}
        to {background:rgb(97, 41, 13);opacity: 100%}  */
}

.elementFadeIn{
    opacity: 100%;
    animation: myfadeIn 2s ;
    animation-fill-mode:forwards;
}
@keyframes myfadeIn {
    from {opacity: 100%;}
    to {opacity:0%}   
    /* from {opacity:0%}
    to {opacity:100%} */
    from {background:rgb(232, 224, 224)}
    to {background:rgb(97, 41, 13);} 
}

.leftPicture{
    position: absolute;
    margin-top: 15vh;
    left: 14vw;
    width: 33%;
    
    border-top-left-radius: 12.5vh;
    border-bottom-right-radius: 12.5vh;
    border-style: double;
    border-color: white;
    border-width: 1.5vh;
}

.AboutText{
    color:rgb(232, 224, 224);
    position: absolute;
    margin-top: 14vh;
    /* right:12vw; */
    width: 33%;
    margin-left: 50%;
    font-size: 2.25vw;
    line-height:auto;
    /* justify-content: center; */
    flex-direction: row;
    /* text-align-last: justify; */
}

.AboutBtnPosition{
    position: absolute;
    top:0vh;
    /* margin-top: 45vw; */
    margin-top: 40%;
    margin-left: 50%;
    /* left: 14vw; */
    width: 15%;
    height: 5vw;
  }

  .AboutBtn{
    padding: 1vh;
    contain:content;

    font-size: 2vw;  
    color: white;
    cursor: pointer;
    background-clip: text;
    background-color: transparent;

    height: 8%;
    width: 20%;

    border-width:.9vh;
    border-style: double;
    border-color:white;
    border-top-right-radius:4vh;
    border-bottom-left-radius:4vh;
  }

  #aboutbtn:hover{
  /* width: 300px; */
    /* height: 200px; */
    background: rgb(13, 97, 80);
    animation: mymove 2s ;
    animation-fill-mode:forwards;
  }
  @keyframes mymove {
        from {background-color: rgb(13, 97, 80);}
        to {background-color: rgb(254, 254, 255); 
            border-color:black;
            font-color:black;
        }
    }

  .AboutBtn:hover{
    color: black;
    font-weight: 10vh;
    border-width: 1.3vh;
    /* border-color: black; */
    /* background: white; */
  }

.textBox{
    padding-top: 3%;
    /* position: absolute;  */
    /* top:10%;
    right:10%; */
    /* font-size: 3vh;   */
/* 
    width: 25vh;
    height: 75vh; */
   
    /* border-width: 2vh;
    border-radius: 25px;
    border-color:  rgb(13, 97, 80) ;
    border-style: solid;
    background-image: linear-gradient(180deg, rgb(13, 97, 80) 5%, rgb(232, 224, 224) 50%); */
}

